*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background: rgb(226, 225, 225);
}
.calculator{
    position: absolute;
    top:50%;
    left:50%;
    margin: auto;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 70vh;
    color: #454547;
    box-shadow: 0 8px 6px -6px black;
}
.calculator p {
    font-size: 4vh;
    margin-left: 0vw;
    overflow: hidden;
    color: #fff;
}
.operation{
    background-color: #425062;
    height: 7vh;
    text-align: right;
    color: #454547;
    border-bottom: 2px solid rgb(51, 50, 50);
    border-left: 2px solid rgb(51, 50, 50);
    border-right: 2px solid rgb(51, 50, 50);
}
.history{
    background-color: #425062;
    height: 7vh;
    text-align: right;
    border-top: 2px solid rgb(51, 50, 50);
    border-left: 2px solid rgb(51, 50, 50);
    border-right: 2px solid rgb(51, 50, 50);
}

button{
    width: 25%;
    background: #425062;
    color: #fff;
    padding: 20px;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    margin-right: -4px;
    border-right: solid 2px #3C4857;
    border-bottom: solid 2px #3C4857;
    transition: all 0.2s ease-in-out;
}
#eql{
 background-color: green;
}
button::-moz-focus-inner {
    border: 0;
 }
 .number{
     background-color: #119ef0;
 }
#clear-scrn{
    background-color: rgb(248, 42, 27);
}
@media only screen and (max-width: 600px){
    .calculator{
        width: 95vw;
        height: 70vh;
    }
    button{
        width: 20vw;
        height: 10vh;
        margin: 2vw 0vw 0vw 2vw;
    }
    .operation,.history{
        height: 6vh;
        margin: 0vh 4vw 0vh 2vw;
    }

}